<div class="container-fluid bg-light">
    <div class="container bg-light">

        <div class="row">
            <div class="col"></div>
            <div class="col-md-6-bg-white">

                <div class="card bg-warning">
                    <h4 class="text-white">To Do List</h4>
                </div>
                <div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter tasks " >
                        <button class="btn btn-outline-success" type="button">+</button>
                      </div>


                </div>



            </div>
            <div class="col"></div>
        </div>
    
    
    </div>





</div>
