<h1>Previous tasks</h1>
<br><br>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Task</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>yesterday</td>
        <td>Reading</td>
        <td>Completed</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>yesterday</td>
        <td>Cooking</td>
        <td>Completed</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>4 days ago</td>
        <td>Research</td>
        <td>Not Completed</td>
      </tr>
    </tbody>
  </table>
  
  
  
